
<html>



<body id="post-background">
  

    <!-- Navbar added here by Layouts file -->

    <!-- Now adding Welcome page -->

  <header>
   
   <p id="notice"><%= notice %></p>
    <div class="container">

      <div class="jumbotron">

        <div class="content">

          <h1 class="welcome-style">Welcome to Roadster</h1>

          <h3>Start your journey </h3>

          <% if user_signed_in? %>
         <button class="btn btn-default"> <%= link_to 'Create Your Journey', new_post_path, class: "post-link-style" %></button>
          <% else %>
          <button class="btn btn-default"> <%= link_to "Sign in to create Journey", new_user_session_path, class: "post-link-style"%></button>
          <% end %> 
        </div>

        

      </div>
      

    </div>
  </header>


    <!-- Add new page that contains posts -->




  <main>
    <div class= "small-index-style">
      <div class="container">
        <div class="post-content">

        
            <div class="row">
                <div class="col-lg-12 "><h1 class="h-post-style">Journeys</h1></div>
              </div>
        
              <div class="row">
                <% @posts.each do |post| %>
                
                  <div class="grid-padding-style ">
                    <p class="paragh-style-1"><%=post.title %><p>
                      <p class="paragh-style-2">By -- <%= post.user.email %> </p>
                        <div id="test" class="col-lg-4 col-sm-6 col-xs-6 col-md-6"><%= image_tag post.avatar.url, class: "image-style wow fadeIn"%></div>

                    <br>
                    <div class="show-link">

                      <% if user_signed_in? %>
                          <div id="post-<%= post.id %>-likes">
                            <%= render 'post_like_link', post: post %>
                          </div>
                      <% else %>

                        <a href = "users/sign_in"<button class='btn btn-outline-info btn-sm out'><i class="fas fa-thumbs-up"></i> Likes <%= post.likes.length %></button></a>

                      <% end %>

                  <%= link_to 'Show', post, class: 'edit-link btn btn-dark edit-link-show out'  %>
                    <% if user_signed_in? %>
                    <% if current_user.id == post.user_id %>
                    <% end %>
                    <% end %>
                    </div>
                  </div>
               
                  
                  
                    
                <% end %>
              </div>
                  

            <br>

            
            </div>
        </div>
      </div>
  <div class= "pag-style">
    <%= will_paginate @posts %>
  </div>

</main>
</footer>
</body>
</html>
