
<html>
	<body id="show-body">
		<p id="notice"><%= notice %></p>

		<div class="container">

		  <div class="show-title-style">

		  	<%= @post.title%>
		  </div>

		  <div class="show-content-style">
		  	

		  	<%= @post.content %>
		  </div>

		</div>


		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Back', posts_path %>
	</body>
</html>