
<html>
	<body id="show-body">
		<p id="notice"><%= notice %></p>

		<div class="container">

		  <div class="show-title-style">

		  	<%= @post.title%>
		  </div>

		  <div class="show-content-style">
		  	

		  	<%= @post.content %>
		  </div>

		</div>

		<br>

	<% if user_signed_in? %>		
		<div class="container card-img-cmt">
			<div class=" card-image-style">
				<div class="card text-center">
					<div class="card-body">

							
							<%= form_for @image,html: { multipart: true }, remote:false do |f| %>
								<div class= "card-title">
					 				<%= f.label :image, class: "comment-paragh-style" %>
					 			</div>
									<%= f.file_field :avatar %>
					 				<%= f.hidden_field :post_id, value: @post.id%>
					 				<%= f.submit 'Submit', class: "btn btn-default sbt-new-style" %>
					 				<% end %>
				 		
	 				</div>
	 			</div>
	 		</div>

	 	
		 	<div class="comment-content">
		 		<div class="card text-center">
		 			<p class="comment-paragh-style"> Create Comments </p>

					<%= form_for @comment do |f| %>

						<div class= "card-title">
							<%= f.label :content, class: 'c-label-style' %>
							<%= f.text_field :content, class: 'form-control t-show-area-style' %>
						</div>

						<%= f.hidden_field :post_id, value: @post.id %>
						<%= f.submit "Create", class: "sbt-new-style" %>
					<% end %>
				</div>
			</div>
		</div>
	<% else %>

		<div class="container card-img-cmt">
			<div class=" card-image-style">
				<div class="card text-center">
					<div class="card-body">
								<div class= "card-title comment-paragh-style">
					 				<p>Upload Image</p>
					 			</div>
									<p class="card-text c-label-style">In order to upload images you need to create your own post 
									and upload images on it</p>
				 		
	 				</div>
	 			</div>
	 		</div>

	 	
		 	<div class="comment-content">
		 		<div class="card text-center">
		 			<p class="comment-paragh-style"> Create Comments </p>

					<%= form_for @comment do |f| %>

						<div class= "card-title">
							<%= f.label :content, class: 'c-label-style' %>
							<%= f.text_field :content, class: 'form-control t-show-area-style' %>
						</div>

						<%= f.hidden_field :post_id, value: @post.id %>
						<%= f.submit "Create", class: "sbt-new-style" %>
					<% end %>
				</div>
			</div>
		</div>

	<% end %>
	











			<% u = Post.find(params[:id]) %>
			<% m = u.images.count %>

			<% c = u.comments.count %>
			<div class= "small-index-style">
				<div class="container img-show-cont">
					<div class="post-content">
						<div class="row">
            				<div class="col-lg-12 "><h1 class="h-post-style">Images</h1></div>
          				</div>
						
						<% if m==0 %>
							<div class="alert alert-primary" role="alert">
				 			 	<p>No images added</p>
							</div>
						<% end %>
							<div>	
								<div class="row">
									<% @post.images.each do |img| %>
				  						<div class="col-lg-4 col-md-6 col-sm-6"><%= image_tag img.avatar.url, class: "image-style-show wow fadeIn", target: '_blank'%></div>

				  					<% end %>
				  				</div>
				  			</div>
		  			</div>
		  		</div>
		  	</div>



						

			<div class="container">
				<p class="comment-paragh-style-1">Comments</p>
				<% if c==0 %>
						<div class="alt-comment">
							<div class="alert alert-primary" role="alert">
								
				 			 		<p>No Comments added</p>
				 			 </div>
						</div>
				<% end %>

				<% @post.comments.reverse.each do |comment| %>
	
						<div class="container bootstrap snippet">
						    <div class="row">
								<div class="col-md-12">
								    <div class="blog-comment"> 
										<ul class="comments">
										<li class="clearfix">
										  <div class="post-comments">
										      <p class="meta comment-paragh-style-2 "><%= comment.user.email %> says : </p>
										      <p class="show-content-style">
										          <%= comment.content %>
										      </p>
										  </div>
										</li>
										
										</ul>
									</div>
								</div>
							</div>
						</div>
				<% end %>
				




			</div>








































	

		
		<% if user_signed_in? %>
		<% if current_user.id == @post.user_id %>
			<%= link_to 'Edit', edit_post_path(@post), class: "badge badge-success" %> |
		<% end %>
		<% end %>
		<%= link_to 'Back', posts_path, class: "badge badge-info" %>
	</body>
</html>