
<html>
	<body id="show-body">
		<p id="notice"><%= notice %></p>

		<div class="container">

		  <div class="show-title-style">

		  	<%= @post.title%>
		  </div>

		  <div class="show-content-style">
		  	

		  	<%= @post.content %>
		  </div>

		</div>

		<br>
			 <div class="container">
			 	<p class="comment-paragh-style"> Create Comments </p>
			 	<div class="comment-content">
		
					<%= form_for @comment do |f| %>

						<%= f.label :content, class: 'c-label-style' %>
						<%= f.text_field :content, class: 'form-control t-show-area-style' %>

						<%= f.hidden_field :post_id, value: @post.id %>
						<%= f.submit "Create", class: "sbt-new-style" %>
					<% end %>
				</div>

				<p class="comment-paragh-style-1">Comments</p>
				<div class="comment-show-style">
				<% @post.comments.reverse.each do |comment| %>

					<%= comment.content %>----<%= comment.user.email %>
						<% if user_signed_in? %>
						<% if current_user.id == @post.user_id %>
							<br>
							<%= link_to "delete", comments_delete_path(comment), method: :delete %>
						<% end %>
						<% end %>
						<br>
				<% end %>
				</div>


		
		
			</div>

		


		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Back', posts_path %>
	</body>
</html>